.dotnetcli
.DS_Store
.idea
.metadata
.settings
.tools
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts*/
[bB]in
BuildOutput
coverage
coverage.*
coverage-reports/
node_modules
obj
out
packages
project.lock.json
TestResults
tools
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.binlog
*.coverage
*.db
*.diagsession
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.psess
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.TMP
*.user
*.vsp
*.vspx
